.sessionLength{
    display:flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center;

}
.sessionInfo{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sessionLength .sessionInfo button{
    border:none;
    font-size: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}